body {
	background-color: lightgray;
	margin: 20px;
}

#musicButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.controlpanels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.musicButtons {
    cursor: pointer;
	margin: 5px;
	flex-grow: 1;
	background-color: darkgray;
	justify-self: center;


	padding: 20px 52px;
	box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
	line-height: 1.25;
	background: #f1dca7;
	text-decoration: none;
	color: black;
	font-size: 20px;
	letter-spacing: .08em;
	text-transform: uppercase;
	position: relative;
	transition: background-color .6s ease;
	overflow: hidden;
}

.musicButtons:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	transform-style: flat;
	transform: translate3d(-50%, -50%, 0);
	background: rgba(white, .1);
	border-radius: 100%;
	transition: width .3s ease, height .3s ease;
}

.musicButtons:hover {
	background: darken(#ffc6ff, 7%);
}

.startButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.startButton {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    width: 20vw;
    flex-grow: 0;
}

.stopButton {
    flex-grow: 0;
}

.volumeButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.volumeButton {
    padding: 20px 30px;
    flex-grow: 0;
    justify-content: center;
}
#currentVolume {
    padding: 20px;
    font-size: 28px;
}

.atmosphere {
    background-color: #797d62;
}
.ambience {
    background-color: #9b9b7a;
}
.combat {
    background-color: #d9ae94;
    color: black;
}
.feeling {
    background-color: #f1dca7;
    color: black;
}
.location {
    background-color: #ffcb69;
    color: black;
}
.stealth {
    background-color: #d08c60;
}
.temple {
    background-color: #997b66;
}